.body {
  margin: 0 auto;
  display: block;
}

.container {
  padding: 5px;
  margin: 0 auto;
  display: block;
}

.weather-app {
  background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 2px 2px 7px rgb(177, 159, 255);
}
